<form [formGroup]="registroForm" class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title"> Cuenta </ng-template>
        <ng-template pTemplate="subtitle"> Estos datos son para tu cuenta en ContySoft </ng-template>
        <ng-template pTemplate="content">
            <div class="grid grid-cols-12">
                <div class="col-span-12 lg:col-span-6 gap-2 p-1">
                    <label for="usuario" class="block w-full text-900 font-medium">Email</label>
                    <p-iconfield>
                        <input class="w-full ng-invalid ng-dirty " pInputText id="email" 
                        [ngClass]="{                            
                            'ng-invalid ng-dirty': registroForm.get('usuario')?.invalid && (registroForm.get('usuario')?.dirty || registroForm.get('usuario')?.touched)
                        }" 
                        formControlName="usuario" 
                        type="email" 
                        placeholder="Email"
                        (blur)="onEmailBlur()"
                        pSize="large" />
                        <p-inputicon class="pi pi-at" />
                    </p-iconfield>
                    <span class="text-danger" *ngIf="emailEnUso">El email ya se encuentra en uso, por favor, recupere su cuenta o contáctese con el administrador.</span>
                </div>
                <div class="col-span-12 lg:col-span-6 gap-2 p-1">
                    <label for="password" class="block text-900 font-medium">
                        Contraseña
                        <span style="color: var(--primary-color);" class="pi pi-question-circle"
                            pTooltip="Recuerda que para mantener una seguridad adecuada, la contraseña debe tener al menos 8 dígitos que conformen letras mayúsculas, minúsculas y números."
                            tooltipPosition="right"></span>
                    </label>
                    <p-password 
                        styleClass="mb-5 w-full" 
                        promptLabel="Ingrese una contraseña" 
                        weakLabel="Muy fácil"
                        mediumLabel="Fácil" 
                        strongLabel="Dificil" 
                        [inputStyleClass]="registroForm.get('password')?.invalid && 
                                        (registroForm.get('password')?.dirty || registroForm.get('password')?.touched) ? 
                                        'ng-invalid ng-dirty p-3 w-full' : 'p-3 w-full'"
                        size="large" 
                        formControlName="password" 
                        placeholder="Contraseña" 
                        [toggleMask]="true"></p-password>
                    
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <!-- <p-button label="Siguiente" (onClick)="nextPage()" [disabled]="(!formValid || !emailValido)" icon="pi pi-angle-right" iconPos="right"></p-button> -->
                <p-button label="Siguiente" (onClick)="nextPage()"  icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</form>