  <form [formGroup]="empresaForm">
        <div class="grid grid-cols-12">
            <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 p-2">
                <label for="codigo" class="font-bold">Código</label>
                <input class="w-full block" pInputText id="codigo" formControlName="codigo" />
            </div>
            <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 p-2">
                <label for="ruc" class="font-bold"># RUC</label>
                <input class="w-full block" pInputText id="ruc" formControlName="ruc" />
            </div>
            <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 p-2">
                <label for="razon_social" class="font-bold">Razón Social</label>
                <input class="w-full block" pInputText id="razon_social" formControlName="razon_social" />
            </div>
            <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 p-2">
                <label for="direccion" class="font-bold">Dirección</label>
                <input class="w-full block" pInputText id="direccion" formControlName="direccion" />
            </div>
            <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 p-2">
                <label for="celuar" class="font-bold">Celular</label>
                <input class="w-full block" pInputText id="celuar" formControlName="celuar" />
            </div>
            <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 p-2">
                <label for="telefono" class="font-bold">Teléfono</label>
                <input class="w-full block" pInputText id="telefono" formControlName="telefono" />
            </div>
            <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 p-2">
                <label for="email" class="font-bold">Email</label>
                <input class="w-full block" pInputText id="email" formControlName="email" />
            </div>
        </div>
    </form>