
<p-card>
    <ng-template pTemplate="header">
        <div class="p-card-title ng-star-inserted p-3 text-center" style="font-size: 2rem;">¡Escoge el mejor plan para tu empresa!</div>
    </ng-template>
    <div class="grid grid-cols-12">
        <div class="col-span-12 sm:col-span-6 md:col-span-4 ">
            <p-card header="Gratis" subheader="Sin costo" styleClass="card-width">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/layout/images/free-plan.svg" style="max-height: 300px;" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Lo tengo" [disabled]="true" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
            <p-card header="Pro" subheader="S/60 por mes" styleClass="card-highlight card-width">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/layout/images/pro-plan.svg" style="max-height: 300px;" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Lo quiero!" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
            <p-card header="Básico" subheader="S/30 por mes" styleClass="card-width">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/layout/images/basic-plan.svg" style="max-height: 300px;" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Lo quiero!" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    
</p-card>
