<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title"> Confirmación de Datos </ng-template>
        <ng-template pTemplate="content">
            <div class="grid grid-cols-12">
                <div class="col-span-12 mb-2">
                    <span class="font-bold text-xl">Datos ContySoft</span>
                </div>
                <div class="mb-3 gap-2 col-span-12 lg:col-span-6 xl:col-span-4">
                    <label class="font-bold">Usuario</label>
                    <span class="w-full block">{{informacionRegistro.cuenta?.usuario}}</span>
                </div>
                <div class="col-span-12 mb-2">
                    <span class="font-bold text-xl">Datos Empresa</span>
                </div>
                <div class="mb-3 gap-2 col-span-12 lg:col-span-6 xl:col-span-4">
                    <label class="font-bold"># RUC</label>
                    <span class="w-full block">{{informacionRegistro.empresa?.ruc}}</span>
                </div>
                <div class="mb-3 gap-2 col-span-12 lg:col-span-6 xl:col-span-4">
                    <label class="font-bold">Razón Social</label>
                    <span class="w-full block">{{informacionRegistro.empresa?.razon_social}}</span>
                </div>
                <div class="mb-3 gap-2 col-span-12 lg:col-span-6 xl:col-span-4">
                    <label class="font-bold">Usuario Sol</label>
                    <span class="w-full block">{{informacionRegistro.empresa?.usuario_sol}}</span>
                </div>
                <div class="col-span-12 mb-2">
                    <span class="font-bold text-xl">Datos Plan</span>
                </div>
                <div class="mb-3 gap-2 col-span-12 lg:col-span-6 xl:col-span-4">
                    <label class="font-bold">Plan</label>
                    <span class="w-full block">{{informacionRegistro.plan?.id_plan}}</span>
                </div>
                <div class="col-span-12 mb-2">
                    <span class="font-bold text-xl">Datos Tarjeta</span>
                </div>
                <div class="mb-3 gap-2 col-span-12 lg:col-span-6 xl:col-span-4">
                    <label class="font-bold">Nombre Titular</label>
                    <span class="w-full block">{{informacionRegistro.pago?.nombre_titular}}</span>
                </div>
                <div class="mb-3 gap-2 col-span-12 lg:col-span-6 xl:col-span-4">
                    <label class="font-bold">Correo Titular</label>
                    <span class="w-full block">{{informacionRegistro.pago?.correo_titular}}</span>
                </div>
                <div class="mb-3 gap-2 col-span-12 lg:col-span-6 xl:col-span-4">
                    <label class="font-bold">Numero</label>
                    <span class="w-full block">{{informacionRegistro.pago?.numero_tarjeta}}</span>
                </div>
                <div class="mb-3 gap-2 col-span-12 lg:col-span-6 xl:col-span-4">
                    <label class="font-bold">Fecha Vencimiento</label>
                    <span class="w-full block">{{informacionRegistro.pago?.fecha_vencimiento}}</span>
                </div>
                <div class="mb-3 gap-2 col-span-12 lg:col-span-6 xl:col-span-4">
                    <label class="font-bold">CVV</label>
                    <span class="w-full block">{{informacionRegistro.pago?.cvv}}</span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-cols-2 gap-4">
                <div class="flex justify-start">
                    <p-button label="Atrás" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                </div>
                <div class="flex justify-end">
                    <!-- <p-button label="Completar" (onClick)="complete()" icon="pi pi-check" iconPos="right"
                        styleClass="p-button-success"></p-button> -->
                    <p-button label="Completar" (onClick)="complete()" icon="pi pi-check" iconPos="right"
                        styleClass="p-button-success"></p-button>
                </div>
            </div>
        </ng-template>
    </p-card>
</div>