<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title"> Confirmación de Datos </ng-template>
        <ng-template pTemplate="content">
            <div class="grid">
                <div class="col-12">
                    <span class="font-bold text-xl">Datos ContySoft</span>
                </div>
                <div class=" flex flex-column gap-2 col-12 lg:col-6 xl:col-4">
                    <label class="font-bold">Usuario</label>
                    <span>{{informacionRegistro?.cuenta?.usuario}}</span>
                </div>
                <div class="col-12">
                    <span class="font-bold text-xl">Datos Empresa</span>
                </div>
                <div class=" flex flex-column gap-2 col-12 lg:col-6 xl:col-4">
                    <label class="font-bold"># RUC</label>
                    <span>{{informacionRegistro?.empresa?.ruc}}</span>
                </div>
                <div class=" flex flex-column gap-2 col-12 lg:col-6 xl:col-4">
                    <label class="font-bold">Razón Social</label>
                    <span>{{informacionRegistro?.empresa?.razon_social}}</span>
                </div>
                <div class=" flex flex-column gap-2 col-12 lg:col-6 xl:col-4">
                    <label class="font-bold">Usuario Sol</label>
                    <span>{{informacionRegistro?.empresa?.usuario_sol}}</span>
                </div>
                <div class="col-12">
                    <span class="font-bold text-xl">Datos Plan</span>
                </div>
                <div class=" flex flex-column gap-2 col-12 lg:col-6 xl:col-4">
                    <label class="font-bold">Plan</label>
                    <span>{{informacionRegistro?.plan?.id_plan}}</span>
                </div>
                <div class="col-12">
                    <span class="font-bold text-xl">Datos Tarjeta</span>
                </div>
                <div class=" flex flex-column gap-2 col-12 lg:col-6 xl:col-4">
                    <label class="font-bold">Nombre Titular</label>
                    <span>{{informacionRegistro?.pago?.nombre_titular}}</span>
                </div>
                <div class=" flex flex-column gap-2 col-12 lg:col-6 xl:col-4">
                    <label class="font-bold">Correo Titular</label>
                    <span>{{informacionRegistro?.pago?.correo_titular}}</span>
                </div>
                <div class=" flex flex-column gap-2 col-12 lg:col-6 xl:col-4">
                    <label class="font-bold">Numero</label>
                    <span>{{informacionRegistro?.pago?.numero_tarjeta}}</span>
                </div>
                <div class=" flex flex-column gap-2 col-12 lg:col-6 xl:col-4">
                    <label class="font-bold">Fecha Vencimiento</label>
                    <span>{{informacionRegistro?.pago?.fecha_vencimiento}}</span>
                </div>
                <div class=" flex flex-column gap-2 col-12 lg:col-6 xl:col-4">
                    <label class="font-bold">CVV</label>
                    <span>{{informacionRegistro?.pago?.cvv}}</span>
                </div>
            </div>            
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button label="Atrás" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Completar" (onClick)="complete()" icon="pi pi-check" iconPos="right" styleClass="p-button-success"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>