<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title"> Planes </ng-template>
        <ng-template pTemplate="subtitle"> Seleccione el plan que más se acomode a sus necesidades </ng-template>
        <ng-template pTemplate="content">
            <div class="grid grid-cols-12">
                <div class="col-span-12 sm:col-span-6 md:col-span-4">
                    <p-card header="Gratis" subheader="Sin costo" [styleClass]="planSeleccionado == 1 ? 'card-highlight card-width' : 'card-width'">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="assets/layout/images/free-plan.svg" style="max-height: 150px;" />
                        </ng-template>
                        <p>
                            Lorem ipsum dolor sit amet...
                        </p>
                        <ng-template pTemplate="footer">
                            <div class="flex gap-3 mt-1">
                                <p-button (onClick)="planSeleccionado = 1" label="Lo quiero!" class="w-full" styleClass="w-full" />
                            </div>
                        </ng-template>
                    </p-card>
                </div>
                <div class="col-span-12 sm:col-span-6 md:col-span-4">
                    <p-card header="Pro" subheader="S/60 por mes" [styleClass]="planSeleccionado == 0 || planSeleccionado == 2 ? 'card-highlight card-width' : 'card-width'">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="assets/layout/images/pro-plan.svg" style="max-height: 150px;" />
                        </ng-template>
                        <p>
                            Lorem ipsum dolor sit amet...
                        </p>
                        <ng-template pTemplate="footer">
                            <div class="flex gap-3 mt-1">
                                <p-button (onClick)="planSeleccionado = 2" label="Lo quiero!" class="w-full" styleClass="w-full" />
                            </div>
                        </ng-template>
                    </p-card>
                </div>
                <div class="col-span-12 sm:col-span-6 md:col-span-4">
                    <p-card header="Básico" subheader="S/30 por mes" [styleClass]="planSeleccionado == 3 ? 'card-highlight card-width' : 'card-width'">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="assets/layout/images/basic-plan.svg" style="max-height: 150px;" />
                        </ng-template>
                        <p>
                            Lorem ipsum dolor sit amet...
                        </p>
                        <ng-template pTemplate="footer">
                            <div class="flex gap-3 mt-1">
                                <p-button (onClick)="planSeleccionado = 3" label="Lo quiero!" class="w-full" styleClass="w-full" />
                            </div>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-cols-2 gap-4">
                <div class="flex justify-start">
                    <p-button label="Atrás" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                </div>
                <div class="flex justify-end">
                <!-- <p-button label="Siguiente" (onClick)="nextPage()" [disabled]="!(planSeleccionado > 0)" icon="pi pi-angle-right" iconPos="right"></p-button> -->
                    <p-button label="Siguiente" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
                </div>
            </div>
        </ng-template>
    </p-card>
</div>