<p-card subheader="Registra las empresas que tengas a tu nombre ;)" header="Listado de Empresas">
    <p-table 
        #tblEmpresa
        dataKey="id" 
        [value]="empresas"
        [lazy]="true"
        (onLazyLoad)="getEmpresas($event)" 
        styleClass="p-datatable-gridlines"
        sortField="id" 
        [sortOrder]="-1" 
        [tableStyle]="{ 'min-width': '60rem' }"
        [paginator]="true" 
        [rows]="request.pageSize" 
        responsiveLayout="scroll"
        [rowHover]="true" 
        [alwaysShowPaginator]="true"
        [totalRecords]="totalRegistros"
        [rowsPerPageOptions]="[10, 25, 50, 100]" 
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"        
        [globalFilterFields]="['codigo', 'nombre', 'direccion', 'descripcion', 'centro_costo']"
        >
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <p-button icon="pi pi-plus" (click)="onNuevoClick()" label="Nueva Empresa" />
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(tblEmpresa, $event)" placeholder="Buscar..." class="w-full"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="codigo">
                    Código <p-sortIcon field="codigo" />
                </th>
                <th pSortableColumn="ruc">
                    Ruc <p-sortIcon field="ruc" />
                </th>
                <th pSortableColumn="nombre">
                    Nombre <p-sortIcon field="nombre" />
                </th>
                <th pSortableColumn="representante_legal">
                    Representante <p-sortIcon field="representante_legal" />
                </th>
                <th>
                    Estado
                <th>
                    Acciones
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empresa>
            <tr *ngIf="loading">
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
            </tr>
            <tr *ngIf="!loading">
                <td>{{ empresa.codigo }}</td>
                <td>{{ empresa.ruc }}</td>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.representante_legal }}</td>
                <td>
                    <p-tag severity="success" *ngIf="empresa.activo; else inactivo" value="Activo"></p-tag>
                    <ng-template #inactivo>
                        <p-tag severity="danger" value="Inactivo"></p-tag>
                    </ng-template>
                </td>
                <td>
                    <p-button (click)="edit(empresa.id)" icon="pi pi-pencil" class="icon-fw-bold" [rounded]="true" [text]="true" severity="primary"></p-button>
                    <!-- <p-button (click)="openDialogAlmacen(almacen.id)" icon="pi pi-trash" class="icon-fw-bold" [rounded]="true" [text]="true" severity="danger"></p-button> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>