<p-card header="Ventas">
    <p-table #tbl_ventas [value]="ventas" styleClass="p-datatable-gridlines" sortField="periodo" [sortOrder]="-1"
        [globalFilterFields]="[
            'periodo',
            'razonSocial',
            'BI_Gravada',
            'monto_inafecto',
            'IGV_IPM',
            'total',
            'estadoCP'
        ]" [tableStyle]="{ 'min-width': '60rem' }" [paginator]="true" [rows]="10" responsiveLayout="scroll"
        [rowsPerPageOptions]="[5,10,20,50,100]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registro" rowGroupMode="subheader"
        groupRowsBy="serieCP">
        <ng-template pTemplate="caption">
            <form [formGroup]="form" class="grid grid-cols-2">
                <div class="flex justify-start align-middle">
                    <p class="my-auto mr-2">Periodo:</p>

                    <p-select [options]="anio" [showClear]="true" optionLabel="label"
                        (onChange)="onSelectionChange($event)" placeholder="Seleccionar" [ngClass]="{
                            'ng-dirty ng-invalid': form.controls['anio'].dirty && form.controls['anio'].invalid
                        }" formControlName="anio" class="ng-invalid ng-dirty mr-2" />

                    <p-select [options]="mes" [showClear]="true" optionLabel="label" optionValue="value"
                        (onChange)="onMesChange($event)" placeholder="Seleccionar" [ngClass]="{
                        'ng-dirty ng-invalid': form.controls['mes'].dirty && form.controls['mes'].invalid
                    }" formControlName="mes" class="ng-invalid ng-dirty mr-2" />
                    <button pButton label="Cargar ventas" class="p-button-outlined p-5" (click)="cargarDatos()"
                        icon="pi pi-file-import" [disabled]="(!formValid)"></button>
                </div>
                <div class="flex justify-end ">
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" [(ngModel)]="globalFilter" (ngModelChange)="onFilterChange()"
                            [ngModelOptions]="{standalone: true}" placeholder="Buscar..." />
                    </p-iconfield>


                </div>
            </form>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="periodo">
                    Periodo <p-sortIcon field="periodo" />
                </th>
                <th pSortableColumn="razonSocial">
                    Denominación <p-sortIcon field="razonSocial" />
                </th>
                <th pSortableColumn="BI_Gravada">
                    Base Imponible <p-sortIcon field="BI_Gravada" />
                </th>
                <th pSortableColumn="monto_inafecto">
                    No Gravados <p-sortIcon field="monto_inafecto" />
                </th>
                <th pSortableColumn="IGV_IPM">
                    IGV <p-sortIcon field="IGV_IPM" />
                </th>
                <th pSortableColumn="total">
                    Total <p-sortIcon field="total" />
                </th>
                <th pSortableColumn="estadoCP">
                    Estado del Comprobante <p-sortIcon field="estadoCP" />
                </th>
                <th>
                    Seleccionar
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
        </ng-template>
        <ng-template #groupheader let-venta let-rowIndex="rowIndex" let-expanded="expanded">
            <tr>
                <td colspan="9">
                    <button type="button" pButton pRipple [pRowToggler]="venta" text rounded plain class="mr-2"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                        <span class="font-bold ml-2">Ventas de la serie {{venta.serieCP}}</span>
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template #groupfooter let-venta>
            <tr class="p-rowgroup-footer">
                <td colspan="8" style="text-align: right">Total ventas de la serie {{venta.serieCP}}:</td>
                <td>{{calculateCustomerTotal(venta.serieCP)}}</td>
            </tr>
        </ng-template>
        <ng-template #expandedrow let-venta>
            <tr>
                <td>{{ venta.periodo }}</td>
                <td>{{ venta.razonSocial }}</td>
                <td>{{ venta.BI_Gravada }}</td>
                <td>{{ venta.monto_inafecto }}</td>
                <td>{{ venta.IGV_IPM }}</td>
                <td>{{ venta.total }}</td>
                <td>{{ venta.estadoCP }}</td>
                <td>
                    <p-checkbox [binary]="true" [(ngModel)]="venta.idEstadoCP"></p-checkbox>

                </td>
                <td>
                    <button pButton icon="pi pi-eye" label="Ver CPE" class="p-button-info"
                        (click)="openBoletaModal(venta)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="9">No no encontraron ventas registradas.</td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog header="Detalles del CPE" [(visible)]="displayBoletaModal" [modal]="true" [style]="{ width: '70vw' }"
        [closable]="true">
        <div *ngIf="selectedBoleta">
            <div class="boleta-info">
                <h3>{{selectedBoleta.tipoCP}} N° {{ selectedBoleta.numero }}</h3>
                <p><strong>Fecha:</strong> {{ selectedBoleta.fecha }}</p>
                <p><strong>Cliente:</strong> {{ selectedBoleta.cliente }}</p>
                <p><strong>Total:</strong> {{ selectedBoleta.total }}</p>
            </div>

            <p-table [value]="selectedBoleta.productos" [tableStyle]="{ 'width': '100%' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto>
                    <tr>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{ producto.precioUnitario }}</td>
                        <td>{{ producto.subtotal }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-dialog>
</p-card>