<p-card header="Ventas">
    <p-table [value]="[]" 
        styleClass="p-datatable-gridlines" 
        sortField="periodo" [sortOrder]="-1" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <button 
                    pButton 
                    label="Importar" 
                    class="p-button-outlined mb-2"
                    (click)="fileInput.click()"
                    icon="pi pi-file-import"></button>
                <input 
                    type="file" 
                    accept=".txt" 
                    style="display: none;" 
                    #fileInput 
                    (change)="onFileSelected($event)">
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar..." class="w-full"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="periodo">
                    Periodo <p-sortIcon field="periodo" />
                </th>
                <th pSortableColumn="denominacion">
                    Denominación <p-sortIcon field="denominacion" />
                </th>
                <th pSortableColumn="base_imponible">
                    Base Imponible <p-sortIcon field="base_imponible" />
                </th>
                <th pSortableColumn="no_gravados">
                    No Gravados <p-sortIcon field="no_gravados" />
                </th>
                <th pSortableColumn="igv">
                    IGV <p-sortIcon field="igv" />
                </th>
                <th pSortableColumn="total">
                    Total <p-sortIcon field="total" />
                </th>
                <th>
                    Seleccionar
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price | currency : 'USD' }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>