<p-card header="Ventas">
    <p-table [value]="ventas"
        styleClass="p-datatable-gridlines"
        sortField="periodo" [sortOrder]="-1" [tableStyle]="{ 'min-width': '60rem' }"
        [paginator]="true" [rows]="20" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <button
                    pButton
                    label="Importar"
                    class="p-button-outlined mb-2"
                    (click)="fileInput.click()"
                    icon="pi pi-file-import"></button>
                <input
                    type="file"
                    accept=".txt"
                    style="display: none;"
                    #fileInput
                    (change)="onFileSelected($event)">
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar..." class="w-full"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="periodo">
                    Periodo <p-sortIcon field="periodo" />
                </th>
                <th pSortableColumn="denominacion">
                    Denominación <p-sortIcon field="denominacion" />
                </th>
                <th pSortableColumn="base_imponible">
                    Base Imponible <p-sortIcon field="base_imponible" />
                </th>
                <th pSortableColumn="no_gravados">
                    No Gravados <p-sortIcon field="no_gravados" />
                </th>
                <th pSortableColumn="igv">
                    IGV <p-sortIcon field="igv" />
                </th>
                <th pSortableColumn="total">
                    Total <p-sortIcon field="total" />
                </th>
                <th pSortableColumn="estado_CP">
                    Estado del Comprobante <p-sortIcon field="estado_CP" />
                </th>
                <th>
                    Seleccionar
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-venta>
            <tr>
                <td>{{ venta.periodo }}</td>
                <td>{{ venta.razonSocial }}</td>
                <td>{{ venta.BI_Gravada }}</td>
                <td>{{ venta.monto_inafecto }}</td>
                <td>{{ venta.IGV_IPM }}</td>
                <td>{{ venta.total }}</td>
                <td>{{ venta.estadoCP }}</td>
                <td>
                    <p-checkbox  [binary]="true" [(ngModel)]="venta.idEstadoCP"></p-checkbox>

                </td>
                <td>
                    <button pButton icon="pi pi-eye" label="Ver Boleta" class="p-button-info" (click)="openBoletaModal(venta)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog header="Detalles del CPE" [(visible)]="displayBoletaModal" [modal]="true" [style]="{ width: '70vw' }" [closable]="true">
        <div *ngIf="selectedBoleta">
            <div class="boleta-info">
                <h3>{{selectedBoleta.tipoCP}} N° {{ selectedBoleta.numero }}</h3>
                <p><strong>Fecha:</strong> {{ selectedBoleta.fecha }}</p>
                <p><strong>Cliente:</strong> {{ selectedBoleta.cliente }}</p>
                <p><strong>Total:</strong> {{ selectedBoleta.total }}</p>
            </div>

            <p-table [value]="selectedBoleta.productos" [tableStyle]="{ 'width': '100%' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto>
                    <tr>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{ producto.precioUnitario }}</td>
                        <td>{{ producto.subtotal }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-dialog>
</p-card>
