<p-card header="Compras">
    <p-table [value]="[]" #tbl_compras styleClass="p-datatable-gridlines" sortField="periodo" [sortOrder]="-1"
        [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="caption">
            <div class="grid grid-cols-2">
                <div class="flex justify-start">
                    <button pButton label="Cargar compras" class="p-button-outlined" icon="pi pi-file-import"></button>
                </div>
                <div class="flex justify-end ">
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" [(ngModel)]="globalFilter"
                            (ngModelChange)="tbl_compras.filterGlobal(globalFilter, 'contains')"
                            [ngModelOptions]="{standalone: true}" placeholder="Buscar..." />
                    </p-iconfield>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="periodo">
                    Periodo <p-sortIcon field="periodo" />
                </th>
                <th pSortableColumn="denominacion">
                    Denominación <p-sortIcon field="denominacion" />
                </th>
                <th pSortableColumn="base_imponible">
                    Base Imponible <p-sortIcon field="base_imponible" />
                </th>
                <th pSortableColumn="no_gravados">
                    No Gravados <p-sortIcon field="no_gravados" />
                </th>
                <th pSortableColumn="igv">
                    IGV <p-sortIcon field="igv" />
                </th>
                <th pSortableColumn="total">
                    Total <p-sortIcon field="total" />
                </th>
                <th>
                    Seleccionar
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="9">No no encontraron compras registradas.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>