<form [formGroup]="registroForm" class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title"> Información de Pago </ng-template>
        <ng-template pTemplate="subtitle"> Ingrese los datos necesarios para realizar el cobro de la subscripción </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid formgrid grid">
                <div class="field col-12">
                    <label for="class">Nombre del titular de la tarjeta</label>
                    <input type="text" formControlName="nombre_titular" pInputText />
                </div>
                <div class="field col-12">
                    <label for="class">Correo del titular</label>
                    <input type="text" formControlName="correo_titular" pInputText />
                </div>
                <div class="field col-8">
                    <label id="number" for="lastname">Número de la tarjeta débito/crédito</label>
                    <p-inputMask inputId="number" formControlName="numero_tarjeta" mask="9999-9999-9999-9999" ></p-inputMask>
                </div>
                <div class="field col-2">
                    <label id="date" for="date">F. Venc.</label>
                    <p-inputMask inputId="date" formControlName="fecha_vencimiento" mask="99/99" ></p-inputMask>
                </div>
                <div class="field col-2">
                    <label for="cvv">CVV</label>
                    <p-inputMask id="cvv" formControlName="cvv" mask="999"></p-inputMask>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button label="Atrás" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Siguiente" (onClick)="nextPage()" [disabled]="!formValid" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</form>