<div class="grid w-full min-h-screen mx-0">   
    <div class="col-12 lg:col-6 p-0 mx-0 my-0">
        <!-- <div class="col-12 flex justify-content-center w-full">
            <img src="assets/layout/images/logo-login.png" alt="ContySale logo" class="w-10rem flex-shrink-0">        
        </div> -->
        <div class="col-12 text-center">
            <h2 class="mt-3">Elige tu plan y empieza a disfrutar!</h2> 
        </div>
        <div class="col-12">
            <div class="card">
                <p-steps [model]="items" />
            </div>
            <router-outlet></router-outlet>
        </div>
        <div class="col-12">
            <!-- <p-button (onClick)="onRegistrarClick()" label="Registrar" styleClass="mt-3 w-full p-3 text-xl" severity="success" /> -->
            <p-button (onClick)="onIrLoginClick()" label="Ir al Login" styleClass="mt-3 w-full p-3 text-xl" severity="secondary" />
        </div>
    </div>

    
    <div class="col-12 lg:col-6 flex justify-content-center p-0 hide-on-md" style="background-color: #fff;">
        <img src="assets/images/register-background.svg" class="width-img-register" alt="ContySale logo">
    </div>
</div>
<!-- 


 -->
