/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

.ng-invalid.ng-dirty {
    border-color: #f87171 !important;
}
.spinner-container {
    position: fixed; /* Para que siempre esté fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente opcional */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }
.width-img{
    width: 70%; max-height: 100vh; object-fit: cover;
}
.width-img-register{
    width: 100%; max-height: 100vh; object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
    .hide-on-md {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .width-img{
        width: 100%; max-height: 100vh; object-fit: cover;
    }
    .width-img-register{
        width: 100%; max-height: 100vh; object-fit: cover;
    }
}
.text-label{
    font-weight: 600 !important;
    color: darkslategray;
    margin-bottom: 2px;
}
.text-danger{
    color: #f87171;
}
.custom-dialog {
    width: 70%; /* Valor por defecto */
    max-width: 600px; /* Establece un ancho máximo */
}
.custom-dialog .p-dialog-content {
    padding-top: 15px;
    overflow: auto !important; /* Evita el scroll */
}

.custom-dialog .p-dialog {
    width: auto !important; /* Asegura que el tamaño se ajuste al contenido */
    max-width: 80vw; /* Opcional: puedes definir un máximo para evitar que se expanda demasiado */
}
.custom-dialog .p-dialog-header{
    background-color: var(--primary-color);
    color: #ffff;
}
@media (max-width: 768px) {
    .custom-dialog {
        width: 90%; /* Ancho para pantallas pequeñas */
    }
}

@media (min-width: 1200px) {
    .custom-dialog {
        width: 50%; /* Ancho para pantallas muy grandes */
    }
}
.w-full>.p-dropdown.p-component{
    width: 100% !important;
}
::ng-deep .icon-fw-bold > button > span {
    font-weight: bold !important;
    font-size: 3rem !important;
}
.icon-fw-bold .p-button-icon{
    font-weight: bold !important;
}